process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--5c4bd442468d75dd' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c680f2aea25ccec2' } }
process { withName: 'OPTITYPE' { container = 'oras://community.wave.seqera.io/library/optitype_coincbc:3308fdb619aa2595' } }
