process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cb1a2fa2f18c7c2' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--c17fb751507e9dfc' } }
process { withName: 'OPTITYPE' { container = 'community.wave.seqera.io/library/optitype_coincbc:722e52fd4495c161' } }
