trace {
    fields = [
        'task_id',
        'hash',
        'native_id',
        'process',
        'tag',
        'name',
        'status',
        'exit',
        'module',
        'container',
        'cpus',
        'time',
        'disk',
        'memory',
        'attempt',
        'submit',
        'start',
        'complete',
        'duration',
        'realtime',
        'queue',
        '%cpu',
        '%mem',
        'rss',
        'vmem',
        'peak_rss',
        'peak_vmem',
        'rchar',
        'wchar',
        'syscr',
        'syscw',
        'read_bytes',
        'write_bytes'
    ].join(",")
}