/*
 * -------------------------------------------------
 *  Nextflow config file for use with Singularity
 * -------------------------------------------------
 * Defines basic usage limits and Singularity image id.
 * Imported under the default 'singularity' Nextflow
 * profile in nextflow.config
 */

singularity {
  enabled = true
}

process.container = 'shub://nf-core/hlatyping'