/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines bundled input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/hlatyping -profile test_rna,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'RNA Test Profile'
    config_profile_description = 'RNA fastq test dataset'

    max_cpus = 2
    max_memory = '6.GB'
    max_time = '48.h'

    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/hlatyping/samplesheets/samplesheet_rna.csv'
}
