/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/hlatyping -profile test
 */

params {
  max_cpus = 2
  max_memory = 7.GB
  max_time = 48.h
  singleEnd = false
  readPaths = [
   ['test_data', ['https://github.com/nf-core/test-datasets/raw/hlatyping/fastq/NA11995_SRR766010_1_fished.fastq.gz',
        'https://github.com/nf-core/test-datasets/raw/hlatyping/fastq/NA11995_SRR766010_2_fished.fastq.gz']]
  ]
  solver = 'glpk'
  seqtype = 'dna'
  bam = false
  index = "$baseDir/data/indices/yara/hla_reference_dna"
  outdir = "results"
}