/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config: HLA*LA must fail fast on a GENCODE/Ensembl-named reference
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Supplies a GENCODE-named .fai (GL000008.2, KI270302.1) so validateHlalaReference errors
    right after faidx instead of HLA*LA failing hours into the run.
*/

process {
    resourceLimits = [ cpus: 4, memory: '15.GB', time: '2.h' ]
}

params {
    config_profile_name        = 'HLA*LA incompatible-reference guard'
    config_profile_description = 'FASTQ + HLA*LA with a GENCODE-named reference must fail fast'

    input     = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_fastq.csv'
    tools     = 'hlala'
    fasta     = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    fasta_fai = "${projectDir}/tests/fixtures/genome_gencode.fa.fai"
}
