/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config for HLA*LA from DNA FASTQ (genome-aligned via bwa-mem2)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [ cpus: 4, memory: '15.GB', time: '2.h' ]
}

params {
    config_profile_name        = 'FASTQ->BAM HLA*LA test'
    config_profile_description = 'DNA FASTQ aligned to GRCh38 (bwa-mem2) then typed with HLA*LA'

    input  = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_fastq.csv'
    tools  = 'hlala'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
}
