/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config for SpecHLA from DNA FASTQ (genome-aligned via bwa)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [ cpus: 4, memory: '15.GB', time: '2.h' ]
}

params {
    config_profile_name        = 'FASTQ->BAM SpecHLA test'
    config_profile_description = 'DNA FASTQ aligned to GRCh38 (bwa) then typed with SpecHLA'

    input  = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_fastq.csv'
    tools  = 'spechla'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
}
