/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running HLA*LA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines bundled input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/hlatyping -profile test_hlala,<docker/singularity> --outdir <OUTDIR>

    Note: HLA*LA requires a pre-built graph directory. If hlala_graph_dir is not provided,
    the tool will attempt to download and build it automatically (requires significant
    time and resources on first run).
----------------------------------------------------------------------------------------
 */

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'HLA*LA Test Profile'
    config_profile_description = 'Test dataset with BAM files using HLA*LA'

    // Input data - HLA*LA requires pre-aligned BAM files
    input = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_bam.csv'
    tools = 'hlala'

    // HLA*LA graph directory - if not set, graph will be downloaded automatically
}
