/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config for SpecHLA from RNA FASTQ (genome-aligned via STAR genome-only)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [ cpus: 4, memory: '15.GB', time: '2.h' ]
}

params {
    config_profile_name        = 'FASTQ->BAM RNA SpecHLA test'
    config_profile_description = 'RNA FASTQ aligned to GRCh38 (STAR genome-only) then typed with SpecHLA'

    input  = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_rna.csv'
    tools  = 'spechla'
    fasta  = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
}
