/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running OptiType + HLA*LA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines bundled input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/hlatyping -profile test_optitype_hlala,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
 */

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'OptiType + HLA*LA Test Profile'
    config_profile_description = 'Test dataset with BAM files using both OptiType and HLA*LA'

    // Input data - HLA*LA requires pre-aligned BAM files
    input           = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_bam.csv'
    // Parent directory containing the graph (e.g., graphs/PRG_MHC_GRCh38_withIMGT/)
    hlala_graph_dir = "${projectDir}/graphs"
    tools           = 'optitype,hlala'

    // OptiType parameters
    solver = 'glpk'
}
