/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running fastq tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines bundled input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/hlatyping -profile test,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
 */

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'fastq Test Profile'
    config_profile_description = 'Test dataset with paired-end fastq files (DNA)'

    input  = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_fastq.csv'
    solver = 'glpk'
}
