/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running combined OptiType + SpecHLA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Exercises two tools consuming the same genome-aligned BAM input.

    Use as follows:
        nextflow run nf-core/hlatyping -profile test_optitype_spechla,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'OptiType + SpecHLA Test Profile'
    config_profile_description = 'Genome-aligned BAM input typed with OptiType and SpecHLA'

    input  = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_bam.csv'
    tools  = 'optitype,spechla'
    solver = 'glpk'
}
