/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running ImmunoType tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines bundled input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/hlatyping -profile test_immunotype,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
 */

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'ImmunoType Test Profile'
    config_profile_description = 'Test dataset with MHCquant-style peptide TSV using ImmunoType'

    // TODO: once the MHCquant-style peptide TSV fixture is uploaded to
    // nf-core/test-datasets, set `input` here to the remote samplesheet, e.g.:
    //   input = params.pipelines_testdata_base_path + 'hlatyping/samplesheets/samplesheet_peptide.csv'
    // For now tests/immunotype.nf.test generates a synthetic samplesheet at runtime
    // and sets `input` there; direct CLI invocation of this profile requires `--input`.
    tools = 'immunotype'
}
